- @goals.each do |goal|
  .goal_header
    %h3= goal.title
    %p= goal.description
    = render 'goals/calendar', goal: goal, date: @date
  = link_to "[Update Goal]", edit_goal_path(goal)
  = link_to "[Delete Goal]", goal_path(goal), method: :delete
  = link_to "[Add Journal Entry]", new_goal_entry_path(goal)