%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@goal, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f|
        %header
          %h1= @goal.new_record? ? "Add a Goal" : "Edit Goal"
        %br/
        %br/
        %fieldset.goal
          - if title_options.include?(@goal.title)
            = f.select :title1, title_options, label: "Title", id: 'title1', selected: @goal.title
            = f.text_field :title2, id: 'title2', hide_label: true
          - else
            = f.select :title1, title_options, label: "Title", id: 'title1', selected: 'Custom'
            = f.text_field :title2, id: 'title2', hide_label: true, value: @goal.title
          = f.select :frequency, frequency_options
          = f.select :unit, unit_options
          = f.text_field :quantity, control_col: "col-sm-2", append: "hour(s)"
        %br/
        %fieldset
          = f.submit @goal.new_record? ? "Create Goal" : "Update Goal", class: "btn btn-success submit_btn"
      %div
        %h1
          %i.quo &ldquo;
        %h3
          %i{id: 'quote'}
        %h1
          %i.quo#right-quo &rdquo;
  