<!DOCTYPE html>
<html>
<head>
  <title>ArtisticLog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/navigation' %>
  </header>
  <section class='content'>
    <%= yield %>
  </section>
  
  <footer>&copy 2015 Artistic Log</footer>

</body>
</html>
