<!DOCTYPE html>
<html>
<head>
  <title>ArtisticLog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'style', media: 'all' %>
  <%= javascript_include_tag 'goal' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/display_flash' %>
  </header>
  <section class='content'>
    <%= yield %>
  </section>
  
  <footer>
    <p><em>You are what you do. </em></p>
    <p>&copy 2015 Artistic Log</p>
  </footer>

</body>
</html>
